<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div class="input-group" style="margin-bottom:2rem;">
		            <input ng-model="searchText" type="text" class="form-control text-input" ng-init="filter = 'project'" placeholder="Search {{filter}}..." style="border:none;" my-enter="search()">
		            <div class="input-group-btn" ng-click="search()">
		            	<button class="btn btn-default" style="height: 100%;">
		              		<span class="fa fa-search icon"></span>
		            	</button>
		            </div>
		            <div class="input-group-btn">
		            	<button class="btn btn-default" ng-init="showFilters = false" ng-click="showFilters = !showFilters; searchText = ''; displayedList = {};" style="height: 100%;">
		              		<span class="fa fa-sort-desc icon" ng-show="!showFilters"></span>
		              		<span class="fa fa-sort-asc icon" ng-show="showFilters"></span>
		            	</button>
		            </div>
            	</div>
            	<div ng-show="showFilters">
	            	<div>
	            		<button class="btn full-width">Filter By</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'project'">Project</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'user'">User</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'project tag'">Project Tag</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'user tag'">User Tag</button>
	            	</div>
            	</div>
            	<div ng-show="filter == 'project' || filter == 'project tag'" ng-repeat="(id, project) in displayedList">
            		<project-card ng-show="!mobile" image="project.imgSrc" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card>
                	<project-card-mobile ng-show="mobile" image="project.imgSrc" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments" details="project.details" projectid="project.$id"></project-card-mobile>
            	</div>
            	<div ng-show="filter == 'user' || filter == 'user tag'" ng-repeat="(id, user) in displayedList">
            		<project-card ng-show="!mobile" image="user.profilePicture" title="user.firstName + ' ' + user.lastName" summary="user.summary" details="user.experience"></project-card>
                	<project-card-mobile ng-show="mobile" image="user.profilePicture" title="user.firstName user.lastName" summary="user.summary" details="user.experience"></project-card-mobile>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
