<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div class="input-group">
		            <input ng-model="searchText" type="text" class="form-control text-input" ng-init="filter = 'projects'" placeholder="Search {{filter}}..." style="border:none;">
		            <div class="input-group-btn" ng-click="search()">
		            	<button class="btn btn-default" style="height: 100%;">
		              		<span class="fa fa-search icon"></span>
		            	</button>
		            </div>
		            <div class="input-group-btn">
		            	<button class="btn btn-default" ng-init="showFilters = false" ng-click="showFilters = !showFilters" style="height: 100%;">
		              		<span class="fa fa-sort-desc icon" ng-show="!showFilters"></span>
		              		<span class="fa fa-sort-asc icon" ng-show="showFilters"></span>
		            	</button>
		            </div>
            	</div>
            	<div ng-repeat="(id, item) in displayedList">
            		{{item.title}}
            	</div>
            	<div ng-show="showFilters">
	            	<div>
	            		<button class="btn full-width">Filter By</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'project'">Project</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'user'">User</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'project tags'">Project Tag</button>
	            	</div>
	            	<div>
	            		<button class="btn btn-default full-width" ng-click="showFilters = false; filter = 'user tag'">User Tag</button>
	            	</div>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
