<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div class="input-group">
		            <input type="text" class="form-control text-input" placeholder="Search">
		            <div class="input-group-btn">
		            	<button class="btn btn-default">
		              		<span class="fa fa-search icon"></span>
		            	</button>
		            </div>
		            <div class="input-group-btn">
		            	<button class="btn btn-default">
		              		<span class="fa fa-sort-desc icon"></span>
		            	</button>
		            </div>
	        		<!-- <input class="form-control" placeholder="Search" required autofocus>
	        		<button><span class="glyphicon glyphicon-search icon"></span></button> -->
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
