<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts -->
            	<h2>Featured Project</h2>

            	<horizontal-card
            		image="featured.imgSrc"
            		title="featured.title"
            		summary="featured.summary"
            		owners="featured.owners"
            		likes="featured.likes"
            		views="featured.views">
            	</horizontal-card>

            	<h2>Recommended Projects</h2>
            	<vertical-flip-card ng-repeat="recommended in recommendedProjects"
            		image="recommended.imgSrc"
            		title="recommended.title"
            		summary="recommended.summary"
            		description="recommended.description"
            		owners="recommended.owners"
            		likes="recommended.likes"
            		views="recommended.views"
            		link="recommended.link">
            	</vertical-flip-card>

            	<div>
            	<br>
            	
            	<!-- just for testing purposes...remove later -->
            	<button class="btn" ng-click="goToCreateProjectPage()">Projects Page </button>
					<ul>
						<li ng-repeat="message in messages">
							<!-- edit a message -->
							<input ng-model="message.text" ng-change="messages.$save(message)" style="width:40rem;"/>

							<!-- delete a message -->
							<button class="btn btn-danger" ng-click="messages.$remove(message)">Delete Message</button>
						</li>
					</ul>

					<!-- push a new message onto the array -->
					<form ng-submit="addMessage()">
						<input ng-model="newMessageText" />
						<button class="btn btn-success" type="submit">Add Message</button>
					</form>

				<div class="col-lg col-sm-6" ng-repeat="project in recommendedProjects"></div>

				<button ng-click="signOut()" class="btn btn-success" type="submit">Sign Out</button>
				</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
