<link rel="stylesheet" href="../../assets/css/profile.css">

<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
				<div>
            		<div class="row" id="profileHeading">
            			<div class="col-md-8">
            				<h1>{{currentUser.firstName}}</h1>
										<h1>{{currentUser.lastName}}</h1>
            				<h3>{{currentUser.position}}</h3>
            			</div>
            			<img class="col-md-4 pull-right img-responsive" ng-show="currentUser.image != null" src={{currentUser.image}}>
            		</div>

            		<div class="content" id="summaryContent">
            			<div class="row">
            				<h5 class="col-xs-11 pull-left">Summary</h5>
            			</div>
                              <input type="text" class="form-control" ng-readonly="!editing" ng-model="currentUser.summary">
            		</div>

            		<div class="content" id="currentProjectsContent">
            			<h5>Current Projects</h5>
            			<div class="btn-group">
	                      	<button ng-repeat="project in currentUser.projects" class="btn-info pill">
	                      		<span class="glyphicon glyphicon-remove icon" ng-show="!editingProjects && editing" ng-click="removeProject(project)"></span>
	                      		{{project}}
	                      	</button>
	                      	<button class="btn-info pill" ng-show="!editingProjects && editing" ng-click="editingProjects=true">+</button>
	                      	<button class="btn-info pill" ng-show="editingProjects">
	                      		<!-- need to add typeahead functionality -->
	                      		<input type="text" name="skills" placeholder="enter a project" ng-model="selectedProject">
	                      		<span class="glyphicon glyphicon-ok" ng-click="editingProjects=false; addProjects()"></span>
	                      	</button>
	                      </div>
            		</div>

            		<div class="content" id="experienceContent">
            			<h5>Experience</h5>
                              <input type="text" class="form-control" ng-readonly="!editing" ng-model="currentUser.experience">

            		</div>

            		<div class="content" id="skillsContent">
                        <h5>Skills</h5>
	                      <div class="btn-group">
	                      	<div ng-repeat="skill in currentUser.skills" class="chip">
	                      		{{skill}}
	                      		<i class="close material-icons" ng-show="!editingSkills && editing" ng-click="removeSkill(skill)">close</i>
	                      	</div>
	                      	<div class="chips chips-placeholder" ng-show="!editingSkills && editing">+Skill</div>
	                      		                      	<button class="btn-info pill" ng-show="editingSkills">
	                      		<!-- need to add typeahead functionality -->
	                      		<input type="text" name="skills" placeholder="enter a skill" ng-model="selectedSkill">
	                      		<span class="glyphicon glyphicon-ok" ng-click="editingSkills=false; addSkill()"></span>
	                      	</button>
	                      </div>
            		</div>

            		<div class="offset4 span4 text-center" id="editButton">
            			<!-- <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Edit Profile</button> -->
                              <button type="button" class="btn btn-info btn-md" ng-click="editPressed()">{{editMessage}}</button>
            		</div>




            		<!-- Modal
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">


					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">Edit Profile</h4>
					      </div>
					      <div class="modal-body">
					     	<h5>position</h5>
					        <input type="text" class="form-control" ng-model="editPosition" ng-init="editPosition=currentUser.position">
					      	<h5>Summary</h5>
					        <input type="text" class="form-control" ng-model="editSummary" ng-init="editSummary=currentUser.summary">
					        <h5>Projects</h5>
					        <input type="text" class="form-control" ng-model="editProjects" ng-init="editProjects=currentUser.projects">
					        <h5>Experience</h5>
					        <input type="text" class="form-control" ng-model="editExperience" ng-init="editExperience=currentUser.experience">
					        <h5>Skills</h5>
					        <input type="text" class="form-control" ng-model="editSkills" ng-init="editSkills=currentUser.skills">
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveInfo(editPosition, editSummary, editProjects, editExperience, editSkills)">Save</button>
					      </div>
					    </div>

					  </div>
					</div> -->

            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
