<link rel="stylesheet" href="../../assets/css/profile.css">

<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

            	<!-- Main content starts-->
				<div>
        			<!-- <div style="margin-top:2rem;"class="col-sm-4 col-xs-12" ng-hide="currentUser.profilePicture == ''">
        				<img class="img-responsive" src={{currentUser.profilePicture}}>
        			</div>
        			<div class="col-sm-8 col-xs-12">
        				<h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
        				<div class="text-muted">{{currentUser.position}}</div>
        			</div> -->
        			<div style="background: white;">
	        			<div class="large-component" id="profileHeading" style="padding-top:5%;">
	            			<div class="col-sm-4 col-xs-12" ng-hide="currentUser.profilePicture == ''">
	            				<img class="img-responsive" src={{currentUser.profilePicture}}>
	            			</div>
	            			<div class="col-sm-8 col-xs-12 vertical-center">
	            				<h1 id="profileHeader">
	            					{{currentUser.firstName}} {{currentUser.lastName}}
	            				</h1>
	            				<div>
	            					{{currentUser.position}}
	            				</div>
	            			</div>
	            		</div>


	            		<div class="content large-component" id="summaryContent">
	            			<div class="row">
	            				<h3 class="col-xs-11 pull-left" style="margin-top:4rem;">Summary</h3>
	            			</div>
	                        <textarea ng-show="editing" placeholder="Click edit to input your summary" type="text" class="form-control profileText" ng-readonly="!editing" ng-model="currentUser.summary"></textarea>
	                        <div ng-show="!editing">
	                        	{{currentUser.summary}}
	                        </div>
	            		</div>

	            		<div class="content large-component" id="currentProjectsContent">
	            			<h3>Current Projects</h3>
	            			<div ng-show="!currentUser.projects || currentUser.projects.length <= 0">
	            				Find yourself a project:
	            				<div class="chip" style="cursor:pointer" ng-click="goToSearch()">
	            					Search
	            				</div>
	            			</div>
	            			<div ng-repeat="project in currentUser.projects" class="chip">
		                      	<!-- <img src="project.image"> -->
		                      	{{project.title}}
		                    </div>
	            		</div>

	            		<div class="content large-component" id="experienceContent">
	            			<h3>Experience</h3>
	                        <textarea ng-show="editing" placeholder="Click edit to input your experience" type="text" class="form-control profileText" ng-readonly="!editing" ng-model="currentUser.experience"></textarea>
	                        <div ng-show="!editing">
	                        	{{currentUser.experience}}
	                        </div>
	            		</div>

	            		<div class="content large-component" id="skillsContent" style="padding-bottom:5%;">
	                        <h3>Skills</h3>
		                      <div>
		                      	<div ng-repeat="skill in currentUser.skills" class="chip">
		                      		{{skill}}
		                      		<i class="close material-icons" ng-show="!editingSkills && editing" ng-click="removeSkill(skill)">close</i>
		                      	</div>
		                      	<div class="chips-placeholder" ng-show="!editingSkills && editing">+Skill</div>
		                      </div>
	            		</div>
	            	</div>

            		<div ng-hide="isRedirect" class="full-width">
	            		<button class="btn btn-info col-xs-12 col-sm-6" style="margin-top:2rem" ng-click="editPressed()">
	            			<span class="fa fa-pencil icon"></span>
	            			{{editMessage}}
	            		</button>
	            		<button class="btn btn-danger col-xs-12 col-sm-6" style="margin-top:2rem" ng-click="signOut()">
	            			<span class="fa fa-sign-out icon"></span>
	            			Sign Out
	            		</button>
	            	</div>

            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
