<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div>
            		<div class="project-component">
	            		<div>Owner</div>
	            		<div ng-repeat="project in projectsOwning">
            				<project-card ng-show="!mobile" image="project.photo" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card>
            				<project-card-mobile ng-show="mobile" ng-show="!mobile" image="project.photo" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card-mobile>
            			</div>
	            	</div>
	            	<div class="project-component">
	            		<div>Member</div>
	            		<div ng-repeat="project in projectsWorking">
	            			<project-card ng-show="!mobile" image="project.photo" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card>
	            			<project-card-mobile ng-show="mobile" image="project.photo" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card-mobile>
            			</div>
	            	</div>
	            	<div class="project-component">
	            		<div>Following</div>
	            		<div ng-repeat="project in projectsFollowing">
	            			<project-card ng-show="!mobile" image="project.photo" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card>
	            			<project-card-mobile ng-show="mobile" image="project.photo" title="project.title" summary="project.summary" likes="project.likes" views="project.views" comments="project.comments.length" details="project.details" projectid="project.$id"></project-card-mobile>
            			</div>
	            	</div>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
