<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div>
            		<div class="project-component">
	            		<div>Owner</div>
	            		<div ng-repeat="project in projectsOwning">
            				{{project.title}}
            				{{project.summary}}
            			</div>
	            	</div>
	            	<div class="project-component">
	            		<div>Member</div>
	            		<div ng-repeat="project in projectsWorking">
            				{{project.title}}
            				{{project.summary}}
            			</div>
	            	</div>
	            	<div class="project-component">
	            		<div>Following</div>
	            		<div ng-repeat="project in projectsFollowing">
            				{{project.title}}
            				{{project.summary}}
            			</div>
	            	</div>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
