<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div>
            		<div class="notificationCards" ng-repeat="notification in notifications">
            			<notification-card title="notification.title" text="notification.text" projectTitle="notification.projectTitle" projectId="notification.projectId" date="notification.date"
            			interactive="notification.interactive" userId="myUser" notifications="true"></notification-card>
								</div>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
