<div id="errorTitle">
	<appheader heading="heading" subheading="subheading"></appheader>

	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->

				<!-- Main content ends -->

			</div>
		</div>
	</div>
	<!-- <div id ="errorTitle">404</div>
	<p>Fresas...! The page you are looking for does not exist.<br> 
		Try our <a href="/home">home page</a> instead.
	</p> -->
	<appfooter></appfooter>
</div>
