<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div class="project-component">
					<img class="img-responsive full-width" ng-src="{{project.photo}}">
					<input type="file" id="file-photo" name="file-photo"/>
					<button class="btn btn-success full-width" ng-click="uploadPhoto()">
						<span class="fa fa-arrow-circle-o-up icon"></span>Upload Photo
					</button>
				</div>
				<div class="project-component">
					<div class="form-group">
						<input ng-model="project.title" type="text" class="form-control" placeholder="Project Title" autofocus data-toggle="validator" required>
						<p class="error-message" ng-show="invalidTitle"> * Error, title is required </p>
					</div>
					<div class="form-group">
						<textarea ng-model="project.summary" class="form-control" rows="5" id="description" placeholder="Brief Summary"></textarea>
					</div>
					<div class="form-group">
						<textarea ng-model="project.details" class="form-control" rows="5" id="description" placeholder="Technical Details"></textarea>
					</div>
				</div>
            	<div class="project-component">
            		<div>Owners</div>
            			<div class="btn-group">
            			<button class="btn-info pill"> Me </button>
            			<button ng-repeat="owner in project.owners" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon" ng-click="removeOwner(owner)"></span>
            				{{owner.firstName}} {{owner.lastName}}
            			</button>
	            		<button class="btn-info pill" ng-hide="editingOwners" ng-click="editingOwners=true">+</button>
							<button class="btn-info pill" ng-show="editingOwners">
								<input name="owners" type="text" placeholder="enter an owner" ng-model="selectedOwner" typeahead="owner as owner.firstName + ' ' + owner.lastName for owner in allUsers | filter:$viewValue | limitTo:8" class="form-control">
								<span class="glyphicon glyphicon-ok" ng-click="editingOwners=false; addOwner()"></span>
								<span class="glyphicon glyphicon-remove icon" ng-click="editingOwners=false"></span>
							</button>
	            	</div>
            	</div>
            	<div class="project-component">
            		<div>Members</div>
            		<div class="btn-group">
	            		<button ng-repeat="member in project.members" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon" ng-click="removeMember(member)"></span>
            				{{member.firstName}} {{member.lastName}}
            			</button>
	            		<button class="btn-info pill" ng-hide="editingMembers" ng-click="editingMembers=true">+</button>
							<button class="btn-info pill" ng-show="editingMembers">
								<input name="members" type="text" placeholder="enter a member" ng-model="selectedMember" typeahead="member as member.firstName + ' ' + member.lastName for member in allUsers | filter:$viewValue | limitTo:8" class="form-control">
								<span class="glyphicon glyphicon-ok" ng-click="editingMembers=false; addMember()"></span>
								<span class="glyphicon glyphicon-remove icon" ng-click="editingMembers=false"></span>
							</button>
					</div>
            	</div>
            	<div class="project-component">
            		<div>Subscribers</div>
            		<div class="btn-group">
	            		<button ng-repeat="subscriber in project.subscribers" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon" ng-click="removeSubscriber(subscriber)"></span>
            				{{subscriber.firstName}} {{subscriber.lastName}}
            			</button>
	            		<button class="btn-info pill" ng-hide="editingSubscribers" ng-click="editingSubscribers=true">+</button>
							<button class="btn-info pill" ng-show="editingSubscribers">
								<input name="members" type="text" placeholder="enter a subscriber" ng-model="selectedSubscriber" typeahead="subscriber as subscriber.firstName + ' ' + subscriber.lastName for subscriber in allUsers | filter:$viewValue | limitTo:8" class="form-control">
								<span class="glyphicon glyphicon-ok" ng-click="editingSubscribers=false; addSubscriber()"></span>
								<span class="glyphicon glyphicon-remove icon" ng-click="editingSubscribers=false"></span>
							</button>
					</div>
            	</div>
            	<div class="project-component">
            		<div>Tags</div>
            		<div class="btn-group">
	            		<button ng-repeat="tag in project.tags" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon"></span>
            				{{tag}}
            			</button>
									<p class="error-message" ng-show="invalidTags"> * Error, at least one tag is required </p>
	            		<button class="btn-info pill" ng-hide="editingTags" ng-click="editingTags=true">+</button>
									<button class="btn-info pill" ng-show="editingTags">
												<input name="tags" type="text" placeholder="enter a tag" ng-model="selectedTag"
											typeahead="tag.$id for tag in allTags | filter:$viewValue | limitTo:8" class="form-control">
												<span class="glyphicon glyphicon-ok" ng-click="editingTags=false; addTag()"></span>
												<span class="glyphicon glyphicon-remove icon" ng-click="editingTags=false"></span>
									</button>
									</button>
	            	</div>
            	</div>
							<div class="project-component">
									<div>Assets</div>
									<div class="form-group">
										<textarea ng-model="project.assets" class="form-control" rows="5" id="description" placeholder="Any relevant links/files/other project assets"></textarea>
									</div>
									<div class="form-group">
										<input type="file" id="file" name="file"/><button class="btn-info pill" ng-click="uploadAsset()">Upload</button>
									</div>
							</div>
            	<div class="btn-group project-component full-width">
            		<button class="btn btn-success" id="project-save" ng-click="addProjectToDatabase()">
            			<span class="glyphicon glyphicon-floppy-disk icon"></span>
            			Save
            		</button>
            		<button class="btn btn-danger" id="project-cancel-save" ng-click="cancel()">
            			<span class="fa fa-ban icon"></span>
            			Cancel
            		</button>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>
</div>
