<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
            	<div class="project-component">
					<img class="img-responsive center" ng-src="{{project.photo}}">
					<button class="btn btn-success center">
						<span class="fa fa-arrow-circle-o-up icon"></span>
						Upload Photo
					</button>
            	</div>
				<div class="project-component">
					<div class="form-group">
						<input ng-model="project.title" type="text" class="form-control" placeholder="Project Title" autofocus data-toggle="validator">
					</div>
					<div class="form-group">
						<textarea ng-model="project.summary" class="form-control" rows="5" id="description" placeholder="Brief Summary"></textarea>
					</div>
					<div class="form-group">
						<textarea ng-model="project.details" class="form-control" rows="5" id="description" placeholder="Technical Details"></textarea>
					</div>
				</div>

            	<div class="project-component">
            		<div>Owners</div>
								<div class="btn-group">
            			<button ng-repeat="owner in project.owners" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon" ng-click="removeOwner(owner)"></span>
            				{{owner}}
            			</button>
	            		<button class="btn-info pill" ng-click="addOwner=(owner)" type="text" ng-model="newOwner">+</button>
	            		<button class="btn-info pill">
	            	</div>
            	</div>
            	<div class="project-component">
            		<div>Members</div>
            		<div class="btn-group">
	            		<button ng-repeat="member in project.members" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon" ng-click="removeMember(member)"></span>
            				{{member}}
            			</button>
	            		<button class="btn-info pill">+</button>
	            	</div>
            	</div>
            	<div class="project-component">
            		<div>Tags</div>
            		<div class="btn-group">
	            		<button ng-repeat="tag in project.tags" class="btn-info pill">
            				<span class="glyphicon glyphicon-remove icon"></span>
            				{{tag}}
            			</button>
	            		<button class="btn-info pill">+</button>
	            	</div>
            	</div>
            	<div class="btn-group project-component center">
            		<button class="btn btn-success" id="project-save" ng-click="addProjectToDatabase()">
            			<span class="glyphicon glyphicon-floppy-disk icon"></span>
            			Save
            		</button>
            		<button class="btn btn-danger" id="project-cancel-save">
            			<span class="fa fa-ban icon" ng-click="cancel()"></span>
            			Cancel
            		</button>
            	</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
