<div class="card" style="height:24em">
  	<div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{image}}" style="min-height: 100%">
    </div>
    <div class="card-content">
		<span class="card-title activator grey-text text-darken-4">
			<div ng-show="details != undefined && details != ''">
				<i class="material-icons right">more_vert</i>
			</div>
			<div ng-click="goToProject()">
				{{title}}
			</div>
		</span>
		<div style="height: 5em; overflox-y:hidden;" ng-show="summary != undefined || summary != ''" class="project-component">
			{{summary}}
		</div>
		<div class="full-width" style="margin-bottom:.5em; bottom:0; position:absolute;">
			<span ng-show="likes != undefined" class="fa fa-thumbs-o-up card-icon" ng-click="likeClicked()" style="cursor: pointer;"> {{likes}} </span>
			<span ng-show="views != undefined" class="fa fa-eye card-icon"> {{views}} </span>
			<span ng-show="comments != undefined" class="fa fa-commenting-o card-icon"> {{comments}} </span>
		</div>
    </div>
    <div ng-show="title && summary" class="card-reveal">
		<span class="card-title grey-text text-darken-4">
			<div>
				<i class="material-icons right">close</i>
			</div>
			<div>
				{{title}}
			</div>
		</span>
		<br>
		<div>
			{{details}}
		</div>
    </div>
</div>