#login{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	background-position: center center;
	background-image: url("../img/strawberry.jpg");
}

#loginOpacityBackground{
	width: 33%;
	height: 33%;
	margin: 0 auto;
    vertical-align:middle;
	color: white;
	text-align: center;
	background: rgba(0,0,0,.75);
}

#loginElements{
	width: 100%;
	margin: 0 auto;
}

html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
}

#errorTitle {
	background-image: url("../img/tinted_lost_berries.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
	display: block;
}

.resize {
	display: block;
	margin: auto;
	margin-top: ;
	width: 60rem;
	height: auto;

}