#login{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	background-position: center center;
	background-image: url("../img/strawberry.jpg");
}

#loginOpacityBackground{
	width: 33%;
	height: 33%;
	margin: 0 auto;
	position: relative;
	background: rgba(0,0,0,.75);
}

#loginElements{
	width: 100%;
	margin: 0 auto;
}
html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
}