body {
	background: #eee;
}

textarea {
   resize: none;
}

#login{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	background-position: center center;
	background-image: url("../img/strawberry.jpg");
}

#project-save {
	width: 42.5%;
	margin-right: 5%;
}

#project-cancel-save {
	width: 42.5%;
}

.pill {
	border: 0;
	border-radius: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0.25rem;
}

.icon {
	top: 0.25rem;
}

.project-component {
	margin: 5%;
}

.center {
	width: 100%;
}

.logo {
	display: block;
	margin: auto;
	width: 25%;
	height: 25%;
}

#loginOpacityBackground{
	width: 33%;
	height: 33%;
	margin: 0 auto;
    vertical-align:middle;
	color: white;
	text-align: center;
	background: rgba(0,0,0,.6);
}

#loginError{
	color: red;
}

#loginElements{
	width: 100%;
	margin: 0 auto;
}

html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
}

#errorTitle {
	background-image: url("../img/tinted_lost_berries.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
}

.resize {
	display: block;
	margin: auto;
	margin-top: ;
	width: 60rem;
	height: auto;

}

.clearForm {
	background: transparent;
	color: white;
	border: 0;
	border-bottom: .1rem solid white;
	outline: 0;

}

#loginButton {
	margin-top: 4rem;
	color: black;
	width: 100%;
}

#signUpButton {
	margin-top: 2rem;
	width: 100%;
	color: black;	
}