<div ng-controller="HomeController" ng-style="loginImage" style="height:100%;">
	<navbar></navbar>
	<sidebar></sidebar>

	<div class="chatbox">
		<div ng-repeat="message in messages" style="height:5rem">
			<div class="chat-message">
				<button class="btn btn-danger chat-button" ng-click="messages.$remove(message)"><span class="glyphicon glyphicon-remove"></span></button>
				{{message.text}}
			</div>
		</div>

		<!-- push a new message onto the array -->
		<div>
			<div style="text-align:left; margin-top:1rem;">
				<button class="btn btn-success chat-button" ng-click="addMessage()"><span class="glyphicon glyphicon-plus"></span></button>
				<input id="message-text" ng-model="newMessageText"/>
			</div>
		</div>
	</div>
</div>
