<div class="container" id="login">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	<img class="logo" src="../../assets/img/logo.png">
			<div id="loginOpacityBackground" class="jumbotron vertical-center">
				<div id="loginElements">
					<label>First Name:</label><input class="form-control input-lg clearForm" type="text" ng-model="firstName"><br>
					<label>Last Name:</label><input class="form-control input-lg clearForm" type="text" ng-model="lastName"><br>
					<label>Username:</label><input class="form-control input-lg clearForm" type="text" ng-model="username" placeholder="username@domain.com"><br>
					<label>Password:</label><input class="form-control input-lg clearForm" type="text" ng-model="password"><br>
					<label>Confirm Password:</label><input class="form-control input-lg clearForm" type="text" ng-model="password"><br>
					<button id="signUpButton" class="btn btn-primary" ng-click="login()">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>
