<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<!-- Main content in each page should be wrapped by the following 3 div elements -->
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
				<div>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#info">Info</a></li>
						<li><a data-toggle="tab" href="#update">Update</a></li>
						<li><a data-toggle="tab" href="#comment">Comment</a></li>
					</ul>
					<div class="tab-content">
						<div id="info" class="tab-pane fade in active">
							<h3>Info</h3>
							<p>Some content in info.</p>
						</div>
						<div id="update" class="tab-pane fade">
							<h3>Update</h3>
							<p>Some content in update.</p>
						</div>
						<div id="comment" class="tab-pane fade">
							<h3>Comments</h3>
							<div class="collection">
								<div ng-show="comments.length <= 0" class="collection-item avatar">
									<p>
										No comments yet.
									</p>
								</div>
								<div ng-repeat="comment in comments" class="collection-item avatar">
									<br>
									<img src="../assets/img/splash.jpg" alt="" class="circle">
									<span style="color:#337ab7; font-weight: bold;">
										{{comment.user.firstName}} {{comment.user.lastName}}
									</span>
									<br><br>
									<p>
										<div>
											{{comment.text}}
										</div>
										<br>
								 		<div class="text-muted">
								 			{{comment.date}}
								 		</div>
									</p>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
